{% extends "layout.html"%}
{% block content%}
<div class="row main-side">   
    <div class="col-md-4" id="side">
                <button id="create" class="btn btn-primary">Create Categories</button></p>
                <div id="side-list"></div>
    </div>
    <div class="col-md-8" id='main_bar'>
            <p class='border-bottom p-1'><button class="btn btn-primary" id="create_item">Create Item</button></p>
        <div id="main">
        </div>
            
    </div>    
</div>
{% endblock %}